.container1 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.googlesquare {
	margin-left: auto;
	padding: 10px 10px;
}

.logo {
	height: 30px;
	padding: 10px 10px;
}

input[type=text] {
	width: 600px;
	height: 35px;
	background-color: white;
	background-position: right;
	background-repeat: no-repeat;
	padding-left: 20px;
	margin-right: 20px;
	border-radius: 25px;
	border: 2px solid #F7F0EE;
	margin-top: 10px;
	background-image: url(magnifying_glass.jpg);
	background-size: 20px;
}

input[type=submit] {
	border-radius: 12px;
	padding: 10px 10px;
	margin: 10px 10px;
	background-color: #008CBA;
	color: white;
}	

.container2 {
	display: flex;
	flex-direction: row;
	justify-content: flex-left;
	margin-left: 150px;
}

a {
	text-decoration: none;
	margin-left: 20px;
	font-family: arial;
	color: #a9a9a9;
}